:root{
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background: url('../images/bg-stars.svg'),
  linear-gradient(
   hsl(234, 17%, 12%) 20%,
   hsl(235, 16%, 14%) 60%
  );
  background-repeat: no-repeat;
}